# Modelo pesado (si no quieres subirlo así)
# Notebooks
notebooks/

# Frontend no necesario para API
frontend/

# Scripts auxiliares
generar_datasets/
test/

# Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.env

# Git
.git/
.gitignore